---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="About this website"
    description="about us"
    pubDate={new Date("December 27 2025")}
>
    <p>
        I haven't decided what I'll do with this site yet. At this point it's
        just to host some static images.
    </p>
</Layout>
