---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="w-screen m-4">
    <nav class="w-full flex flex-row justify-around">
        <h2><a href="/">{SITE_TITLE}</a></h2>
        <div class="internal-links">
            <HeaderLink href="/">Home</HeaderLink>
            <!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
            <HeaderLink href="/about">About</HeaderLink>
        </div>
    </nav>
</header>
